.slot-machine { 
	position: relative; 
	margin: 0 auto;
	width: 65%;
}

.slot-machine .title {
	font: 350%/100% 'MarketingScriptRegular', Arial, sans-serif;
	text-align: center;
}
.wheel-housing { width: 100%; margin: 0; position:relative; }

.trigger {
	padding: 0;
	position: absolute;
	right: -20%;
	top: 0px;
	width: 20%;
}

.trigger .button.squared{
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	
	border-radius: 5%;
	font-size: 200%;
	padding: 1.5em 0;
	width: 100%;
}

.arrow_up {
	background: none;
	border-width: 50px; 
	border-style: solid;
	border-bottom-color: -webkit-gradient(linear, left top, right bottom, from(#888), to(#575757));
	border-bottom-color: -moz-linear-gradient(top,  #888,  #575757);
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	height: 0;
	width:0;
	margin: 0 auto 10px;
}

.arrow_down {
	background: none;
	border-width: 50px; 
	border-style: solid;
	border-top-color: -webkit-gradient(linear, left top, right bottom, from(#888), to(#575757));
	border-top-color: -moz-linear-gradient(top,  #888,  #575757);
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	height: 0;
	width:0;
	margin: 10px auto 0;
}

.arrow_up:hover, .arrow_down:hover {
	background: none;
}

.wheel {
	border: 2px solid black;
	box-shadow: inset 0px 10px 15px black, inset 0px -8px 15px black;
	
	float: left;
	overflow: hidden;
	width: 32%;
}

.wheel-housing:after { clear:both; content: "."; display:block; height: 0; visibility: hidden; }

.wheel .content {
	border-top: 2px solid black;
	height:100%;
	overflow: hidden;  
	position: relative; 
	width: 100%;
	z-index: -1;
}

.wheel .content img {
	position: absolute;
	width: 300%;
}

.wheel:nth-of-type(1) .content img {
	left:0;
	top:0;
}

.wheel:nth-of-type(2) .content img {
	left:-100%;
	top:0;
}

.wheel:nth-of-type(3) .content img {
	right:0;
	top:0;
}