
.snowmound {
	background:-webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 45%,#e1e1e1 51%,#f6f6f6 100%);
	border-top-left-radius: 50% 8.5%;
	border-top-right-radius: 80% 20%;
}

#whitefield {
	height:100%;
	width:100%;
	position:relative;
	top:-10%;
}

#whitefield .left-field, #whitefield .right-field {
	background:-webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 45%,#e1e1e1 51%,#f6f6f6 100%);
	height:100%;
	position:absolute;
}

#whitefield .left-field {
	border-top-left-radius: 50% 8.5%;
	border-top-right-radius: 80% 20%;
	left:0px;
	width:52%;
}

#whitefield .right-field {
	border-top-left-radius: 150% 200%;
	border-top-right-radius: 80% 20%;
	right:0px;
	width:80%;
}

#decorations {
	border: 2px solid rgb(10,10,10);
	box-shadow: 0px 10px 5px -5px rgba(40,40,40,0.6) inset;
	box-sizing: border-box;
	height: 10%;
	overflow-x: scroll;
	overflow-y: hidden;
	width:100%;
	display:none;
}

#scene {
	background: center top 100% no-repeat -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 20%,#a1dbff 50%, #1e5799 55%, transparent 55%, transparent 100%),
				center top 100% no-repeat -webkit-radial-gradient(5% 100%, ellipse cover, #ffffff 0%,#f1f1f1 15%,#e1e1e1 31%,#f6f6f6 100%);
	height: 100%;
	max-height: 1000px;
	overflow: hidden;
	position:relative;
	width: 100%;
	-webkit-perspective: 500px;
}

.tree {
	height: 405px;
	width: 310px;
	box-sizing:border-box;	
}

/* style the tree */
.tree .body, .tree .body:before, .tree .body:after, .tree .bottom, .tree .bottom:before, .tree .bottom:after,
.tree .shadow, .tree .shadow:before, .tree .shadow:after, .tree .sbottom, .tree .sbottom:before, .tree .sbottom:after {
   height: 0;    
   position: absolute;
   width: 0;

   border-radius: 40px;
   -moz-border-radius: 40px;
   -webkit-border-radius: 40px;
   -webkit-transform: translateZ(3px);
}

.tree .body, .tree .shadow {
   border-left: 33px solid transparent;
   border-right: 33px solid transparent;
   border-bottom: 54px solid green;
   left: 122px;
   top: 5px;
}
.tree .body:before, .tree .shadow:before {
    content:'';
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
    border-bottom: 96px solid green;
    left: -66px;
    top: 5px;
}
.tree .body:after, .tree .shadow:after {
    content:'';
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 130px solid green;
    left: -100px;
    top: 40px;
}

/* tree, bottom side */
.tree .bottom, .tree .sbottom {
    border-left: 133px solid transparent;
    border-right: 133px solid transparent;
   border-bottom: 173px solid green;
    left: 22px;
    top: 90px;
}

.tree .bottom:before, .tree .sbottom:before {
    content:'';
    border-left: 166px solid transparent;
    border-right: 166px solid transparent;
    border-bottom: 206px solid green;
    left: -166px;
    top: 60px;
}

.tree .bottom:after, , .tree .sbottom:after {
    content:'';
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 240px solid green;
    left: -200px;
    top: 120px;
}

.tree .shadow, .tree .shadow:before, .tree .shadow:after,
.tree .sbottom, .tree .sbottom:before, .tree .sbottom:after {
	border-bottom-color: rgba( 40,70,40,0.3);
	-webkit-filter: blur(10px);
}

.tree .stump {
	background-color:brown;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
	box-sizing:border-box;
	height: 60px;
	left:116px;
	position:absolute;
	bottom: 5px;
	width:80px;
	border-radius: 10px;
}

.tree.center {
	position: absolute;
	bottom: 10%;
	-webkit-transform: translateZ(19px);
}

.tree.offcenter {
	position: absolute;
}
