.daddy {
	bottom: 90%;
	height: 400px;
	left: 100px;
	width: 200px;
}

.mamma {
	bottom: 90%;
	height: 350px;
	left: 345px;
	width: 175px;
}

.elleia {
	bottom: 85%;
	height: 250px;
	left: 250px;
	width: 125px;
}

.oliver {
	bottom: 85%;
	height: 200px;
	left: 495px;
	width: 100px;
}