.snowman {
	bottom: 90%;
	height: 450px;
	position:absolute;
	right:100px;
	width:200px;

	-webkit-perspective: 100px;
	-webkit-transform: translateZ(20px) rotateY(0deg);
}

.snowman .ball {
	background:-webkit-linear-gradient(-60deg, #f6f8f9 0%,#e5ebee 70%,#d7dee3 84%,#f5f7f9 100%);
	border:1px solid #f3f3f3;
	margin: auto;
	position: relative;
}

.snowman .bowler-hat {
	border: 1px solid #333;
	bottom:-85px;
	border-radius:15px;
	height:10px;
	margin:auto;
	position:relative;
	width:100px;
	z-index: 3;
}
.snowman .bowler-hat:after {
	bottom: 100%;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #fff;
	border-radius:25px 25px 0 0;
	content:" ";
	height:50px;
	left: 15px;
	position: absolute;
	width:70px;
}

.snowman .head {
	border-radius: 100px;
	bottom:-70px;
	width:100px;
	height:100px;
	z-index: 2;
}

.snowman .head .eye {
	background:-webkit-linear-gradient(-45deg, #0e0e0e 40%,#7d7e7d 100%);
	height:15px;
	border-radius:15px;
	position:absolute;
	top:30px;
	width: 10px;
}

.snowman .head .left.eye {
	left:30px;
}

.snowman .head .right.eye {
	right:30px;
}

.snowman .head .nose {
	background:-webkit-linear-gradient(-45deg, #ff7f04 0%,#ff7c00 49%,#ffa73d 84%,#ffb76b 100%);
	height:15px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:0;
	border-top-right-radius:20px;
	border-top-left-radius:300%;
	right:45px;
	position:absolute;
	top:40px;
	width:30px;
}

.snowman .head .mouth {
	border-bottom-right-radius: 60px 40px;
	border-bottom-left-radius: 60px 40px;
	border-bottom: 7px dotted black;
	height: 30px;
	left:17px;
	position:absolute;
	top:42px;
	width: 60px;
}

/* Rotates a leaf from -50 to 50 degrees in 2D space */
@-webkit-keyframes wave
{
    /* Rotate a leaf by -50 degrees in 2D space at the start of the animation */
    0%   { -webkit-transform: rotate(30deg); }

    50% { -webkit-transforms: rotate(40deg); }

    100% { -webkit-transform: rotate(-10deg); }
}

.snowman .body {
	border-radius: 150px;
	height:150px;
	width:150px;
	bottom: -50px;
	z-index: 1;
}

.snowman .body:before, .snowman .body:after {
	background: -webkit-linear-gradient(-45deg, #f0b7a1 0%,#8c3310 20%,#752201 55%,#bf6e4e 100%);
	content: ' ';
	height:40px;
	position: absolute;
	width: 130px;
}

.snowman .body:before {
	left:-120px;
	top:40px;
	
	-webkit-clip-path: polygon(3px 0px, 23px 15px,70px 30px, 130px 15px, 130px 25px,70px 40px, 23px 25px, 3px 40px, 0px 33px, 15px 23px, 0px 23px, 0px 17px, 15px 17px, 0px 7px);
	-webkit-transform-origin: 145px 50%;
	-webkit-transform: rotateZ(30deg);
}

.snowman.wave .body:before {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: wave;
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

.snowman .body:after {
	top:40px;
	right: -120px;

	-webkit-clip-path: polygon(127px 0px, 107px 15px, 50px 30px, 0px 15px, 0px 25px, 50px 40px, 107px 25px, 127px 40px, 130px 33px, 112px 23px, 130px 23px, 130px 17px, 112px 17px, 130px 7px);
	-webkit-transform-origin: -15px 50%;
	-webkit-transform: rotateZ(-15deg);
}


.snowman .body .buttons, .snowman .body .buttons:before, .snowman .body .buttons:after {
	content: ' ';
	background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
	border-radius: 15px;
	height: 15px;
	position: absolute;
	width:15px;
}

.snowman .body .buttons {
	left: 63px;
	top: 70px;
}

.snowman .body .buttons:before {
	top: -30px;
}

.snowman .body .buttons:after {
	bottom: -30px;
}

.snowman .bottom {
	border-radius: 200px;
	height:200px;
	width:200px;
}